body {
  font-family: 'K2D', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #115A21;
}

nav {
  color: #115A21;
  font-size:16pt;
}

strong {
  font-weight:700;
}

.navbar-light .navbar-nav .nav-link {
    color: #115A21;
}

.white-overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  pointer-events: none;
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

.under-overlay {
  z-index:-1;
  pointer-events: auto;
}

.crossed-out {
  text-decoration:line-through;
  color: #115A21;
}

#brand {
  height:1.9rem;
}

#panel_1 {
  background-image: url('../img/ceremony.png');
  background-size: cover;
  background-repeat:no-repeat;
}

#title-desktop {
  padding-top:110px;
  padding-left:40px;
  font-size:28pt;
  color: #115A21;
}

#title-mobile {
  padding-top:70px;
  padding-left:20px;
  font-size:28pt;
  color: #115A21;
}

#panel_1_description {
  font-size:21pt;
}

#panel_1-5 {
  padding-right:60px;
}

#panel_2 {
  padding-top:40px;
}

.panel_2_text {
  font-size:16pt;
}
