body {
  font-family: 'K2D', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

nav {
  color: #115A21;
  font-size:16pt;
}

strong {
  font-weight:700;
}

footer {
  background-color:black;
  padding-left: 30px;
  padding-right: 30px;
}

.list-group {
  list-style-type:square;
}

.list-group-item {
  border:none;
}

.navbar-light .navbar-nav .nav-link {
    color: #115A21;
}

.white-overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  pointer-events: none;
  position:relative;
}

.under-overlay {
  z-index:0;
  pointer-events: auto;
  position: relative;
}

.crossed-out {
  text-decoration:line-through;
  color: black;
}

#brand {
  height:1.9rem;
}

#panel_1 {
  background-image: url('../img/bg-ceremony.png');
  background-size: cover;
  background-repeat:no-repeat;
  padding-top:30px;
  color:#115A21;
}

#title-desktop {
  padding-top:110px;
  padding-left:40px;
  font-size:28pt;
  color: #115A21;
}

#title-mobile {
  padding-top:70px;
  padding-left:20px;
  font-size:28pt;
  color: #115A21;
}

#panel_1_description {
  font-size:21pt;
}

#panel_1-5 {
  padding-right:0px;
}

#panel_2 {
  padding-top:40px;
  padding-bottom:50px;
}

.panel_2_text {
  font-size:16pt;
}

#panel_3 {
  background-image: -webkit-linear-gradient(138deg, rgba(226,226,226,0.50) 0%, rgba(233,233,233,0.50) 59%, rgba(177,177,177,0.50) 100%);
  background-image: -o-linear-gradient(138deg, rgba(226,226,226,0.50) 0%, rgba(233,233,233,0.50) 59%, rgba(177,177,177,0.50) 100%);
  background-image: linear-gradient(228deg, rgba(226,226,226,0.50) 0%, rgba(233,233,233,0.50) 59%, rgba(177,177,177,0.50) 100%);
  padding-top:50px;
  padding-bottom:80px;
}

#panel_4 {
  padding-top:50px;
  padding-bottom:50px;
}

.main-section-title {
   padding-left:30px;
   padding-bottom:10px;
}

.main-section-subtitle-left {
  padding-left:30px;
  font-size: 16pt;
}

.main-section-subtitle-right {
  padding-right:30px;
  font-size: 16pt;
}

.panel_4_text {
  font-size:16pt;
  padding-left: 40px;
  padding-right:40px;
  padding-bottom: 30px;
}

#panel_5 {
  background-image: url('../img/bg-laptops.png');
  background-size: cover;
  background-repeat:no-repeat;
  padding-top:50px;
  padding-bottom:50px;
}

#panel_6 {
  padding-top:50px;
  padding-bottom:50px;
}

#simple-box {
  /* Rectangle 3: */
background-image: linear-gradient(-201deg, #D4D4D4 15%, #CDDFD3 100%);
border-radius: 8px;
}

#professional-box {
  /* Rectangle 3: */
  background-image: linear-gradient(-201deg, #9EC79C 15%, #CDDFD3 100%);
  border-radius: 8px;
}

#all-inclusive-box {
  /* Rectangle 3: */
  background-color:black;
  border-radius: 8px;
  color: white;
}

#panel_7 {
  background-image: url('../img/bg-presentation.png');
  background-size: cover;
  background-repeat:no-repeat;
  padding-top:50px;
  padding-bottom:50px;
}

#contact-description {
  font-size:0.8rem;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  #panel_1-5 {
    padding-right:60px;
  }
  .main-section-title {
     padding-left:120px;
     padding-bottom:0px;
  }
  .main-section-subtitle-left {
    padding-left:125px;
    font-size: 1.5rem;
  }
  .main-section-subtitle-right {
     padding-right:125px;
     font-size: 1.75rem;
  }
  .panel_4_text{
    padding-left: 150px;
    padding-right:150px;
  }
  #contact-description {
    font-size:1.5rem;
  }
  footer {
    padding-left: 150px;
    padding-right: 150px;
  }
}
